*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 280px) and (max-width: 840px) {
    
    .madhur{
        position: absolute;
        top: 50px!important;
        left: 00px!important;
        
    }
    .madhur img{
        width: 70px!important;
        height: 70px!important;
    }
    
}
@media (min-width: 840px) and (max-width: 1326px) {
    
    .madhur{
        position: absolute;
        top: 0px!important;
        right: 20px!important;
    }
    
    
}